div.top {
    background-image: url("/img/Abak.jpg");
    margin: 16px 0px;
    margin-top: 0px;
    padding: 32px 0px;
}
body{
background-color: #47696D;

}
tr:hover {background-color: #white}
img:hover {background-color:lightgray}

laaa.grow img:hover {
  -webkit-transform: scale(4.33);
  -webkit-transform-origin: 50% 50%;
