body {
    background-color: white;
    font-family: Futura, Helvetica, Arial;
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    height: 64px;
    width: 100%;
    margin: 0;
    padding: 0;

}

header .back {
    width: 128px;
    height: 64px;
    background-color: gray;
    text-align: center;
    padding: 0;
}

header .back a {
    color: white;
    text-decoration: none;

}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}



img.member-large {
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 256px;
    height: 256px;
}

.social-links ul {
    list-style-type: none;
    display: block;
    margin:0;
    padding:0;
    text-align:center;
}

.social-links ul li {
    float: none;
    display: inline;
}

.social-links ul li img {
    display: inline-block;
    width: 32px;
    padding: 8px;
}

div.bio {
    padding: 32px 0px;
    width: 600px;
    display: block;
    margin: auto;
    text-align: justify;
}

div.quick-facts {
    padding: 32px 0px;
    width: 600px;
    display: block;
    margin: auto;
    text-align: justify;
}

div.quick-facts table {
    margin: 0px 100px;
    width: 400px;
}

div.quick-facts table tr:nth-child(even) {
    background-color: #f2f2f2;
}

div.spotify {
    display: block;
    margin: auto;
    width: 600px;
}

div.spotify iframe {
    display: block;
    margin: auto;
}

footer {
    margin: 32px 0;
    text-align: center;
    color: gray;
    font-size: 0.8em;
}