/*Bestemmer bakgrunnsfargen på selve siden på bodyen*/
body {
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 0;
    margin: 0;
}

/*# er for å refere til id istendenfor class. Canvas er css-en for forside "applikasjonen"*/
#canvas-home canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#canvas-home h1 {
    position: absolute;
    z-index: 3;
    font-size: 5em;
    text-align: center;
    top: 50vh;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#canvas-home h3 {
    position: absolute;
    z-index: 2;
    font-size: 1.5em;
    text-align: center;
    top: 70vh;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#canvas-home .arrow-down {
    display: block;
    position: relative;
    margin: auto;
    z-index: 2;
    top: 85vh;
    width: 32px;
    height: 32px;
}



h1 {
    text-align: center;
    font-size: 3em; /*h1 fonten er bla. for navnene våres på profilsidene. Hovedoverskriften. "em" er for å gjøre den tre ganger større enn vanlig*/
}

h2 {
    font-size: 2em;
    text-align: center;
    margin-top: 64px;
}

div.header {
	padding: 48px 0;
}

div.header-home {
    height: 100vh;
    color: white;
}

div.jostein-top {
    background-image: url("/img/bergen1.jpg"), url("https://i.imgur.com/E86ak52.jpg");
    background-position-y: -150px;
}
div.sondre-top {
    background-image: url("https://i.imgur.com/E86ak52.jpg");
}
div.andersg-top {
    background-image: url("/img/trondheim.jpg");
}
div.andersm-top {
    background-image: url("/img/Abak.jpg");
    filter: brightness(2);
}

/*Ovenfor er de ulike bakgrunnsbildene på de ulike brukernes profiler.*/

img.member-large { /*Denne ordner utseende på profilbildene våres. Den gjør bildene runde, og ornder størrelsen på dem*/
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 256px;
    height: 256px;
}

img.member-large:hover { /*blurrer bilde, når du hoverer over med musen.*/
    filter: blur(10px);
}

.social-links ul { /*Dette er listen av sosial media ikonene. Det er bilder istedenfor tekst på listen.*/
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}

.social-links ul li {
    float: none;
    display: inline; /*inline gjør at ikonene står ved siden av hverandre, og ikke over hverandre*/
}

.social-links ul li img {
    display: inline-block;
    width: 32px;
    padding: 8px;
}

.f:hover {
    content: url("/img/logos/facebook-logo-color.png");
}

.s:hover {
    content: url("/img/logos/snapchat-logo-color.png");
}

.g:hover {
    content: url("/img/logos/github-logo-color.png");
}

.i:hover {
    content: url("/img/logos/instagram-logo-color.png");
}

.t:hover {
    content: url("/img/logos/twitter-logo-color.png");
}
/*Endrer fra svarte ikon til ikon med farge når du holder musepeker over.*/

img.member-medium {
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 192px;
    height: 192px; /*Dette er også profilbildene våres, men på forsiden. De er mindre enn de andre.*/
}

div.members-ul {
    width: 1000px;
    position: relative;
    left: -33%;
/*Denne ordner at de fire bildene står ved siden av hverandre, og sentrert.
  Men den skaper et par problemer når vi skal vise nettsiden på mobil. Det blir vanskeligt
  å trykke på bilde lengst til venstre på en smalere skjerm, men vi fant ingen lur løsning for 
  at det skulle se fint ut både på pc og mobil, så vi lot det være.
  Det så veldig bra ut på pc.*/
}

.members-ul ul {
    list-style-type: none;
    display: block;
    margin: 64px 0;
    padding: 0;
    text-align: center; /*Sentrerer teksten under bildene*/
}

.members-ul ul li {
    float: none;
    display: inline; /*Bildene står ved siden av hverandre, ikke ovenfor*/
    margin: 0;
    padding: 0;
}

.members-ul ul li a {
    display: inline-block;
    width: 192px;
    padding: 24px; /* Lager litt større mellomrom mellom bildene. */
    text-decoration: none;
    color: black;
}

.black-box { /*Dette er den svarte boksen hvor det står "mer info"*/
    display: block;
    margin: auto;
    padding: 8px 16px;
    width: max-content; /*Max content fikser bredden til boksen til det som er inni*/

    border: 4px solid black;
    box-sizing: border-box;

    text-align: center;
    text-decoration: none; /*Fjerner understreken til linken*/

    font-size: 1em;
    font-weight: bold;
    background-color: #000;
    color: #FFF;
}

.black-box:hover { /*Endrer fargen på bakgrunnen og samtidig teksten når du hovrer over*/
    background-color: #FFF;
    color: #000;
    border: 4px solid black;
}

.black-box:focus {
    outline: none;
}

div.content { /*Content er hovedklassen vår for tekst.*/
    padding: 32px 0px;
    width: 600px; /*Fikser bredden på avsnittene til akkurat 600 piksler.*/
    display: block;
    margin: auto;
    text-align: justify; /*Gjør at teksten fylles helt ut, bent langs kantene*/
}

div.content h2 {
    margin: 32px 0;
}

div.content p {
    margin: 64px 0;
    line-height: 2em;
}

.link { /*Slik ser en link ut på nettsiden vår, men tror ikke vi hadde noen linker, som ikke 
          var knapper, i det ferdige produktet.*/
    color: #444;
    text-decoration: none;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: #444;
}

.link:visited {
    color: #444;
}

.link:hover {
    color: rgb(160, 0, 0);
}

.img-content {
    width: 600px;
}
/*Bredden på "Happy New Year"-bildet på prosjektbeskrivelse siden. */

div.quick-facts table {
    margin: 0px 100px; /*Denne sentrerer tabellen.*/
    width: 400px; /*Estetiske grunner, den så smal ut i forhold til resten av siden.*/
}

div.quick-facts table tr:nth-child(even) {
    background-color: #f2f2f2;
}
/*Annenhver av tabellradene er hvit.*/

th,
td {
    padding: 8px;
    text-align: left;
}
/* Vi satt padding til 8px. Estetiske grunner. */

div.quick-facts.andersg tr:hover {
    background-color: #47696D;
}
/*Fargen endrer seg når du hovrer over teksten. Dette skjer kun på Anders G sin side.*/

/* Her gjør vi footer fonten mer nøytral og sentrert.  */
footer {
    margin: 32px 0;
    text-align: center;
    color: gray;
    font-size: 0.8em;
}

/* Stil for lenker i nav */
a {
	text-decoration: none;
	color: black;
	transition: color 0.3s ease;
}

a:hover {
  	color: red;
}

/*  */
.menuToggle {
	display: block;
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}

/* Skjult knapp som toggler menyen */
.menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
	-webkit-touch-callout: none;
}

/* Strekene i hamburgermenyen */
.menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: rgb(95, 95, 95);
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				opacity 0.55s ease;
}

.menuToggle span:first-child {
  	transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
  	transform-origin: 0% 100%;
}

/* Roterer strekene til et kryss */
.menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #232323;
}

/* Gjør den midterste streken usynlig */
.menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

.menuToggle input:checked ~ span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
}

/* Liste med lenker */
.menu {
	position: absolute;
	width: 300px;
	margin: -100px 0 0 -50px;
	padding: 50px;
	padding-top: 125px;
	
	background: #ededed;
	list-style-type: none;
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

/* Lenker i listen */
.menu li {
	padding: 10px 0;
	font-size: 22px;
}

/* Gjør listen synlig når checkboxen er avkrysset*/
.menuToggle input:checked ~ ul {
	transform: none;
}
