/*Bestemmer bakgrunnsfargen på selve siden på bodyen*/
body {
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 0;
    margin: 0;
}
/**/
#canvas-home canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#canvas-home h1 {
    position: absolute;
    z-index: 3;
    font-size: 5em;
    text-align: center;
    top: 50vh;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#canvas-home h3 {
    position: absolute;
    z-index: 2;
    font-size: 1.5em;
    text-align: center;
    top: 70vh;
    width: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#canvas-home .arrow-down {
    display: block;
    position: relative;
    margin: auto;
    z-index: 2;
    top: 85vh;
    width: 32px;
    height: 32px;
}
/*farge og st på navigasjonen*/
nav {
    background-color: black;
    height: 64px;
    width: 100%;
    margin: 0;
    padding: 0;
}
/*navig bak posisjon og farge, og størrelse*/
nav .back {
    width: 128px;
    height: 48px;
    background-color: gray;
    text-align: center;
    padding-top: 16px;
}
/**/
nav .back a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: 3em;
}

h2 {
    font-size: 2em;
    text-align: center;
    margin-top: 64px;
}
/**/
div.header {
    margin: 0 0 16px 0;
    padding: 32px 0px;
}
/**/
div.header-home {
    height: 100vh;
    color: white;
}

div.jostein-top {
    background-image: url("/img/bergen1.jpg"), url("https://i.imgur.com/E86ak52.jpg");
    background-position-y: -150px;
}
/**/
div.sondre-top {
    background-image: url("https://i.imgur.com/E86ak52.jpg");
}
/**/
div.andersg-top {
    background-image: url("/img/trondheim.jpg");
}
/**/
div.andersm-top {
    background-image: url("/img/Abak.jpg");
    filter: brightness(2);
}


/*Ovenfor er de ulike bakgrunnsbildene på de ulike brukernes profiler.*/

img.member-large {
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 256px;
    height: 256px;
}
/*blurrer bilde*/
img.member-large:hover {
    filter: blur(10px);
}

.social-links ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}

.social-links ul li {
    float: none;
    display: inline;
}

.social-links ul li img {
    display: inline-block;
    width: 32px;
    padding: 8px;
}

.f:hover {
    content: url("/img/logos/facebook-logo-color.png");
}

.s:hover {
    content: url("/img/logos/snapchat-logo-color.png");
}

.g:hover {
    content: url("/img/logos/github-logo-color.png");
}

.i:hover {
    content: url("/img/logos/instagram-logo-color.png");
}

.t:hover {
    content: url("/img/logos/twitter-logo-color.png");
}


/*Endrer fra svarte ikon til ikon med farge når du holder musepeker over.*/

img.member-medium {
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 192px;
    height: 192px;
}

div.members-ul {
    width: 1000px;
    position: relative;
    left: -33%;
}

.members-ul ul {
    list-style-type: none;
    display: block;
    margin: 64px 0;
    padding: 0;
    text-align: center;
}

.members-ul ul li {
    float: none;
    display: inline;
    margin: 0;
    padding: 0;
}

.members-ul ul li a {
    display: inline-block;
    width: 192px;
    padding: 24px;
    text-decoration: none;
    color: black;
}

.black-box {
    display: block;
    margin: auto;
    padding: 8px 16px;
    width: max-content;

    border: 4px solid black;
    box-sizing: border-box;

    text-align: center;
    text-decoration: none;

    font-size: 1em;
    font-weight: bold;
    background-color: #000;
    color: #FFF;
}

.black-box:hover {
    background-color: #FFF;
    color: #000;
    border: 4px solid black;
}

.black-box:focus {
    outline: none;
}

div.content {
    padding: 32px 0px;
    width: 600px;
    display: block;
    margin: auto;
    text-align: justify;
}

div.content h2 {
    margin: 32px 0;
}

div.content p {
    margin: 64px 0;
    line-height: 2em;
}

.link {
    color: #444;
    text-decoration: none;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: #444;
}

.link:visited {
    color: #444;
}

.link:hover {
    color: rgb(160, 0, 0);
}

.img-content {
    width: 600px;
}

div.quick-facts table {
    margin: 0px 100px;
    width: 400px;
}

div.quick-facts table tr:nth-child(even) {
    background-color: #f2f2f2;
}

th,
td {
    padding: 8px;
    text-align: left;
}

div.quick-facts.andersg tr:hover {
    background-color: #47696D;
}
/*Fargen endrer seg når du hovrer over teksten. Dette skjer kun på Anders G sin side.*/

footer {
    margin: 32px 0;
    text-align: center;
    color: gray;
    font-size: 0.8em;
}
/* Her gjør vi footer fonten mer nøytral og sentrert.  */
